repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.11.7
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
  
  - repo: local
    hooks:
      - id: ui-ssr-lint-staged
        name: ui-ssr lint-staged
        # Enter the directory and run lint-staged. 
        # lint-staged will handle the staged files selection and running prettier/eslint.
        entry: bash -c 'cd ui-ssr && bun run lint-staged'
        language: system
        pass_filenames: false
        files: ^ui-ssr/