site_name: Language Model SAEs
site_url: https://lm-saes.readthedocs.io
repo_url: https://github.com/OpenMOSS/Language-Model-SAEs

theme:
  name: material

plugins:
  - search
  - gen-files:
      scripts:
        - scripts/gen_ref_pages.py
  - literate-nav:
      nav_file: SUMMARY.md
  - section-index
  - mkdocstrings:
      handlers:
        python:
          paths: [src]
          options:
            show_source: true
            heading_level: 2
            show_root_heading: true
            show_root_full_path: false
            docstring_style: google
            merge_init_into_class: true
            show_signature_annotations: true
  - glightbox

nav:
  - Home: index.md
  - Key Concepts: concepts.md
  - Code Reference: reference/

markdown_extensions:
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - attr_list
  - md_in_html
  - pymdownx.blocks.caption
