datasets>=2.17.0
einops>=0.7.0
fastapi>=0.110.0
matplotlib>=3.8.3
numpy>=1.26.4
pandas>=2.2.1
pymongo>=4.6.3
pytest>=8.0.1
tensorboardX>=2.6.2.2
torch>=2.2.0
tqdm>=4.66.2
transformer_lens>=1.14.0
uvicorn>=0.28.0
wandb>=0.16.3
msgpack>=1.0.8
plotly>=5.20.0
openai>=1.14.3
tiktoken>=0.6.0
python-dotenv>=1.0.1
