name: docs
on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  deploy-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: "true"
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Set up Python
        run: uv python install 3.11
      - name: Install dependencies
        run: uv sync --group docs
      - name: Deploy docs
        run: uv run mkdocs gh-deploy --force